/*Extra-light 200
Light 300
Regular 400
Bold 700 italic
Black 900*/

:root {
	--green0: #479339;
	--green1: #50AE08;
	--green2: #73CD2E;
	--green3: #A7D382;
	--black0: #3F4241;
	--black1: #646766;
	--black2: #898B8B;
	--black3: #AFB0AF;
	--black4: #D4D4D4;
	--black5: #F0F0F0;
	--black6: #F9F9F9;

	--bkg: #FAFAFA;
}

body {
	font-size: 18px ;
	font-family: 'Barlow', sans-serif;
	margin: 0;
	padding: 0;
	background-color: var(--bkg);
	line-height: 24px;
}
p {
	font-weight: 400;
	color: var(--black1);
}
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
h1 {
	color: var(--green1);
	font-size: 1.778em;
	/*font-family: Barlow;*/
	font-style: normal;
	font-weight: 500;
	line-height: 38px;
	letter-spacing: -0.02em;
	text-transform: uppercase;
	margin-top: 0em;
	margin-bottom: 0.25em;
	margin-right: 0em;
	margin-left: 0em;
	padding-top: 0em;
	padding-bottom: 0em;
	padding-right: 0em;
	padding-left: 0em;
}
h2 {
	/*font-family: Barlow;*/
	font-style: normal;
	font-weight: normal;
	color: var(--black1);
	font-size: 1.555em;
	line-height: 34px;
	/* identical to box height */
	/*display: flex;*/
	/*align-items: center;*/
	letter-spacing: -0.02em;
	text-transform: capitalize;
	margin-top: 1em;
	margin-bottom: 0em;
	margin-right: 0em;
	margin-left: 0em;
	padding-top: 0em;
	padding-bottom: .444em;
	padding-right: 0em;
	padding-left: 0em;
}
h3 {
	color: var(--black1);
	font-size: 1.555em;
	/*font-family: Barlow;*/
	font-style: normal;
	font-weight: normal;
	letter-spacing: -0.02em;
	text-transform: capitalize;
	margin-top: 1em;
	margin-bottom: 0em;
	margin-right: 0em;
	margin-left: 0em;
	padding-top: 0em;
	padding-bottom: .444em;
	padding-right: 0em;
	padding-left: 0em;
}
h5 {
	color: var(--black1);
	font-style: normal;
	font-weight: normal;
	letter-spacing: -0.02em;
}
h6 {
	color: var(--black1);
	font-style: normal;
	font-weight: normal;
	letter-spacing: -0.02em;
}
li {
	color: var(--black1);
}
#software {
	margin-bottom: 0;
}
/*https://codepen.io/MihaiSlujitoru/pen/NAQzAJ*/
.maxcontainerwidth {
	max-width: 80em;
	margin: 0 auto;
	padding: 0 2vw;
}

#menubar {
	height: 2.5em;
	position: sticky;
	top: 0;
	background-color: rgba(249, 249, 249, .9);
	border-bottom: rgb(232, 232, 232) solid 1px;
	margin-bottom: 5vh;
	
}
#menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;

}
#menubar ul {
	display: inline-flex;
}
#menubar ul li {
	list-style: none;
	padding: 0em 1em;
	font-weight: 500;
}
#menubar a {
	text-decoration: none;
	padding: 0 .3em;
	color: rgba(172, 172, 172, 1);
	font-weight: 500;
}
#menubar p {
	margin: 0;
	height: 100%;
	align-content: center;
	display: inline-grid;
	font-size: 1.8em;
	text-transform: uppercase;
	
}
.mainlogo {
	display: flex;
}
.mainlogo, .mainlogo img {
	height: 2.25em;
}
.homelogocontainer {
	display: flex;
	justify-content: center;
	align-items: center;
}
.homelogo {
	width: 14vh;
}
.featured {
	display: flex;
	align-content: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.items {
	display: flex;
	align-content: center;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 1rem 0 0 0;
}
.featurebox {
	width: 32%;
	/*background-color: gainsboro;*/
}
.boximghov {
	transition: all .5s;
	box-shadow: 0 0px 0px rgb(0 0 0 / 0.0);
}
.boximghov:hover {
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.featureimages {
	width: 100%;
	aspect-ratio: 1.77;
	border-radius: 6px 6px 0px 0px;
}
.box {
	width: 23.7%;
	aspect-ratio: 1.77;
	margin-bottom: 3rem;
	background-color: #f5f5f5;
	border-radius: 6px;
	/* box-shadow: 0 0px 0px rgb(0 0 0 / 0.0); */
	transition: all .5s;
}
.box a {
	text-decoration: none;
}
 .box .content {
	padding: .25rem 1rem .75rem 1rem;
}
/* .box:hover {
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
} */
.project {
	display: flex;
	justify-content: space-between;
}
.projectdescription {
	width: 32%;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 6vh;
	height: 75vh;
}
#projectTitle {
	position: sticky;
	position: -webkit-sticky; /* Safari */
	top: 4rem;
}
.projectdescription p {
	margin-top: 0;
	margin-bottom: 2rem;
}
.projectdescription ul {
	margin-bottom: 1rem;
}
.projectdescription ul li {
	border-radius: 2rem;
	padding: 0.125rem 1.125rem;
	display: inline flow-root list-item;
	background-color: var(--black4);
	margin: .25rem .25rem;
	font-size: .75rem;
}
.projectdescription a {
	text-decoration: none;
	color: var(--green0);
	width: 48%;
}
.projectdetailimages {
	width: 65%;
}
.projectdetailimages a {
	text-decoration: none;
}
.projectdetailimages img {
	border-radius: 6px;
}
.projectsimilar {
	display: flex;
	justify-content: space-between;
}
.projectsimilar a {
	width: 48%;
}
.relatedtitle {
	color: var(--green0);
}
.projectdetailimg {
	width: 100%;
	margin-bottom: 2rem;
}
.returnbutton {
/*	background-color: rgba(80, 174, 8, 1.0);*/
/*	padding: .5rem 2rem;*/
	color: rgba(80, 174, 8, 1.0);
	text-decoration: none;
	border-bottom: 1px solid rgba(80, 174, 8, 0);
	transition: .5s all;
}
.returnbutton::before {
/*	background-color: rgba(80, 174, 8, 1.0);*/
	width: 1rem;
/*	height: 1rem;*/
	content: url('../images/return-icon.svg');
	display: inline-block;
}
.returnbutton:hover {
	border-bottom: 1px solid rgba(80, 174, 8, 1.0);
}
#footer {
	border-top: var(--green2) solid 1px;
	margin-top: 7vh;
/*	display: flex;*/
/*	justify-content: space-between;*/
	margin-bottom: 3vh;
	padding-top: .5em;
}
#footer p {
	color: var(--black3);
	font-weight: 400;
	font-size: .777em;
}
#footer .footerlinks {
	display: flex;
	justify-content: space-between;
/*	width: 42%;*/
	font-size: 1em;
	text-transform: uppercase;
}
#footer a {
	color: var(--black2);
	/*font-weight: 400;*/
	text-decoration: none;
	transition: .5s all;
	border-bottom: var(--bkg) solid 1px;
}
#footer a:hover {
	color: var(--green0);
	/*font-weight: 500;*/
	border-bottom: var(--green2) solid 1px;
}
video {
	width: 100%;
	height: auto;
}

.aenbsp {
	display: none;
}
.empty {
	background-color: unset;
}